<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} %-5p: %m%n"/>
        </Console>
        <File name="MyFile" fileName="logs/app.log" append="true">
            <PatternLayout
                    pattern="%d{HH:mm:ss} %-5p: %m%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="com.epam.app" additivity="false" level="info">

            <AppenderRef ref="Console"/>
            <AppenderRef ref="MyFile"/>

        </Logger>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="MyFile"/>


        </Root>
    </Loggers>
</Configuration>